@import "custom/custom-dir";
@import "mixins/mixins-dir";

html, body {
    // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
    background-color: #b4fff2;
    display: grid;
    justify-content: center;
    align-items: center;
}

p {
    font-family: $font-secondary;
    @include fluid-type($min_width, $max_width, 12px, 16px);
}
