@import "custom/custom-dir";
@import "mixins/mixins-dir";

html, body {
    font-size: 16px;

    @include bp(mob-lg) {
        font-size: 14px;
    }
}

body {
    background-color: #b4fff2;
    display: grid;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    height: 150px;
    padding: 1.5rem;
    border: 5px solid #1c1c1c;
    margin: 1rem auto;
    color: white;
    background-color: #fff;

    &:first-child {
        box-sizing: content-box;
    }

    &:last-child {
        box-sizing: border-box;
    }
}
