//fontweights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//webcolors
$primary-theme-color: tomato;
$secondary-theme-color: cyan;

//breakpoints
$desktop: 1199px;
$tab-lg: 991px;
$tab-md: 800px;
$mob-lg: 600px;
$mob-md: 500px;
$mob-sm: 380px;
$mob-xs: 321px;
