@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

//fontweights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

//webcolors
$primary-theme-color: tomato;
$secondary-theme-color: cyan;

//breakpoints
$desktop: 1199px;
$tab-lg: 991px;
$tab-md: 800px;
$mob-lg: 600px;
$mob-md: 500px;
$mob-sm: 380px;
$mob-xs: 321px;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
